@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
.burger__menu {
  width: 100%;
  position: fixed;
  height: 100vh;
  top: 0;
  overflow: hidden;
  left: 100%;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

.burger__menu._active {
  left: 0%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger__menu._active .burger__block_content {
  left: 0%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger__menu._active .burger__category {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

.burger__block_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  height: 1000px;
  top: 0;
  left: 100%;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

.burger__category {
  background-color: #1a1f17;
  width: 50%;
  height: 100%;
  position: relative;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger__links {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 200px;
}

.burger__li {
  padding-bottom: 55px;
}

.burger__li a {
  color: white !important;
  position: relative;
}

.burger__li a::before {
  content: ' ';
  position: absolute;
  width: 95%;
  height: 1px;
  background-color: white;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  left: 3%;
  top: 110%;
}

.burger__li a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.burger__search {
  background-color: #fff9de;
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .burger__menu._active {
    overflow-y: scroll;
  }
  .burger__category {
    background-color: #212529;
    width: 100%;
    height: 50%;
    -webkit-transform: none;
            transform: none;
  }
  .burger__search {
    width: 100%;
    height: 50%;
    -webkit-transform: none;
            transform: none;
  }
  .burger__block_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .burger__links {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 15px;
    margin-left: 10%;
  }
  .burger__li {
    padding-bottom: 25px;
  }
}
