.burger__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.burger__button._active .burger__line_1 {
  -webkit-transform: rotate(-45deg) translate(-1px, 4px);
          transform: rotate(-45deg) translate(-1px, 4px);
}

.burger__button._active .burger__line_2 {
  opacity: 0;
}

.burger__button._active .burger__line_3 {
  -webkit-transform: rotate(45deg) translate(-6px, -10px);
          transform: rotate(45deg) translate(-6px, -10px);
}

.burger__button._active .burger__menu_block {
  height: 0;
}

.burger__line_1,
.burger__line_2,
.burger__line_3 {
  width: 25px;
  border-radius: 10%;
  height: 1px;
  background-color: black;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  pointer-events: none;
}

.burger__menu_block {
  width: 100%;
  height: 100%;
}

.burger__block_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

.burger__block_content._active {
  left: 0%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger__block_content._active .burger__catergory {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

.burger__category {
  background-color: #212529;
  width: 50%;
  height: 100%;
  position: relative;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.burger__search {
  background-color: #fdfbe0;
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .burger__search {
    width: 100%;
  }
  .burger__category {
    display: none;
  }
}
