.burger__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  cursor: pointer;
  position: relative;
  z-index: 1001;
}

.burger__button._active .burger__line_1 {
  -webkit-transform: rotate(-45deg) translate(-1px, 4px);
          transform: rotate(-45deg) translate(-1px, 4px);
  background-color: black;
}

.burger__button._active .burger__line_2 {
  opacity: 0;
  background-color: black;
}

.burger__button._active .burger__line_3 {
  -webkit-transform: rotate(45deg) translate(-6px, -10px);
          transform: rotate(45deg) translate(-6px, -10px);
  background-color: black;
}

.burger__button._active .burger__menu_block {
  height: 0;
  background-color: black;
}

.burger__line_1,
.burger__line_2,
.burger__line_3 {
  width: 100%;
  border-radius: 10%;
  height: 1px;
  background-color: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  pointer-events: none;
}

@media screen and (max-width: 1200px) {
  .burger__line_1,
  .burger__line_2,
  .burger__line_3 {
    background-color: black;
  }
}
