.burger__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
    position: relative;
    z-index: 10;

    &._active {
        .burger__line_1 {
            transform: rotate(-45deg) translate(-1px, 4px);
        }

        .burger__line_2 {
            opacity: 0;
        }

        .burger__line_3 {
            transform: rotate(45deg) translate(-6px, -10px);
        }

        .burger__menu_block {
            height: 0;
        }
    }
}

.burger__line_1,
.burger__line_2,
.burger__line_3 {
    width: 25px;
    border-radius: 10%;
    height: 1px;
    background-color: black;
    transition: all 0.3s ease 0s;
    pointer-events: none;
}

