// .burger__menu{
//     height: 100px;
//     width: 100px;
// }

.burger__button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    cursor: pointer;
}

.burger__line_1, .burger__line_2, .burger__line_3{
    width: 35px;
    border-radius: 10%;
    height: 2px;
    background-color: black;
}
